{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
    <!-- Next tag loads Charts.js https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}

    <!--
    Examples of what to show in Dashboard:

    - Ranking of visited documents (from results page)
    - Visitor's preferred browsers
    - Visitor's city (from IP)
    - preferred queries ranking
    - preferred terms
    - etc.

    -->

    <script>
        // 'visited_docs' is the data coming from Python code.
        // load the python list in the JS variable 'visits_list':
        const visits_list = {{ visited_docs | tojson | safe }};
        console.log("visited docs: ")
        console.log(visits_list)
    </script>

    <h5>Ranking of Visited Documents</h5>
    <canvas id="dailyVisits" width="400" height="400"></canvas>


    <script>
        // use JS map function top get just the tweet ids as labels
        const visitsLabels = visits_list.map(a => "id: " + a.doc_id);
        const visitsData = visits_list.map(a => a.counter);
        const chartData1 = {
            labels: visitsLabels,
            datasets: [{
                label: 'Visits count',
                // data: [65, 59, 80, 81, 56, 55, 40],
                data: visitsData,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const ctx = document.getElementById('dailyVisits').getContext('2d');

        // This will render the chart
        const myChart = new Chart(ctx, {
            type: 'line',
            data: chartData1,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <hr>
    <h5>Print Python data for verification with graph above...</h5>
    {% for doc in visited_docs %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ doc.counter }} visits) </span> — id: {{ doc.doc_id }}
                — {{ doc.description }}
            </div>
        </div>
        <hr>
    {% endfor %}
    
    <script>
        // 'visited_docs' is the data coming from Python code.
        // load the python list in the JS variable 'visits_list':
        const queries_list = {{ searched_queries | tojson | safe }};
        console.log("searched queries: ")
        console.log(queries_list)
    </script>

    <h5>Prefered Queries</h5>
    <canvas id="dailyVisits2" width="400" height="400"></canvas>


    <script>
        // use JS map function top get just the tweet ids as labels
        const queriesLabels = queries_list.map(a => "id: " + a.doc_id);
        const queriesData = queries_list.map(a => a.counter);
        const chartData2 = {
            labels: queriesLabels,
            datasets: [{
                label: 'Searched count',
                // data: [65, 59, 80, 81, 56, 55, 40],
                data: queriesData,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const ctx2 = document.getElementById('dailyVisits2').getContext('2d');

        // This will render the chart
        const myChart2 = new Chart(ctx2, {
            type: 'line',
            data: chartData2,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <hr>
    <h5>Print Python data for verification with graph above...</h5>
    {% for q in searched_queries %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ q.counter }} visits) </span> — id: {{ q.doc_id }}
                — {{ q.description }}
            </div>
        </div>
        <hr>
    {% endfor %}    

    <script>
        const terms_list = {{ searched_terms | tojson | safe }};
        console.log("terms list: ")
        console.log(terms_list)
    </script>

    <h5>Ranking of Searched Terms</h5>
    <canvas id="terms" width="400" height="400"></canvas>


    <script>
        // use JS map function top get just the tweet ids as labels
        const termsLabels = terms_list.map(a => "term: " + a.doc_id);
        const termsData = terms_list.map(a => a.counter);
        const chartDataTerms = {
            labels: termsLabels,
            datasets: [{
                label: 'Searched count',
                data: termsData,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const ctx3 = document.getElementById('terms').getContext('2d');

        // This will render the chart
        const myChart3 = new Chart(ctx3, {
            type: 'line',
            data: chartDataTerms,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <hr>
    <h5>Print Python data for verification with graph above...</h5>
    {% for term in searched_terms %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ term.counter }} searches) </span> — term: {{ term.doc_id }}
                — number of times in search query: {{ term.description }}
            </div>
        </div>
        <hr>
    {% endfor %}


    <p><a href="/num_terms">Click here to see a histogram of the number of terms of queries</p>
    <p><a href="/browsers">Click here to see a pie chart of the browsers used</p>
    <hr width="70%" align="center" color="DarkTurquoise">
    <div style='text-align: center;'>
    <table align="center" style="margin: 0px auto;">
    <tr>
        <th><a href="#" onclick="history.go(-1)">Go Back</a></th>
        <th></th>
        <th><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></th> 
        <th></th>
        <th><a href="#" onclick="history.go(-3)">Go Back 3 pages</a></th>
        <th></th>
        <th><a href="#" onclick="history.go(-4)">Go Back 4 pages</a></th>
        <th></th>
        <th><a href="/stats" >Stats</a></th>
        <th></th>
        <th><a href="/dashboard" >Dashboard</a></th>
        <th></th>
        <th><a href="/user" >User</a></th>
    </tr>
    </table>
    </div>

{% endblock %}


