{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <h2>Quick Stats</h2>
    <h4>Clicked docs:</h4>

    {% for doc in clicks_data %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ doc.count }} visits) </span> — id: {{ doc.id }} — {{ doc.description }}
            </div>
        </div>
        <hr>
    {% endfor %}
    <h4>Searched queries:</h4>

    {% for q in searched_queries %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ q.counter }} visits) </span> — query: {{ q.doc_id }}
                — {{ q.description }}
            </div>
        </div>
        <hr>
    {% endfor %}
    <h4>Documents visited and the queries they are related to:</h4>

    {% for doc in doc_queries %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ doc.counter }} visits) </span> — id: {{ doc.doc_id }} — related queries and the ranking of the document: {{ doc.description }}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
