<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail - IRWA Search Engine</title>
</head>
<body bgcolor = '#a8dadc' style="font-family: Arial; padding-left: 80px; padding-right: 80px;">
    <h1 style='text-align: center; color: #457b9d;'> Details of User </h1>
    <p> This user is using the IP <b style='color:#219ebc'>{{ip}}</b> and his last search was:</p>
    <p  style='text-align: center;'> Time: <b style='color:#219ebc'>{{info['Date']}}</b> Query:  <b style='color:#219ebc'>{{info['Query']}}</b></p>
    <p> Total number of distinct searches: <b style='color:#219ebc'>{{info['Num_queries']}}</b> </p>
    <p> Total number of clicks: <b style='color:#219ebc'>{{info['Num_clicks']}}</b> </p>
    <p> The user is on a <b style='color:#219ebc'>{{agent['os']['name']+agent['platform']['version']}}</b> using <b style='color:#219ebc'>{{agent['browser']['name']}}</b> as a browser</p>
    <hr width="70%" align="center" color="DarkTurquoise">
    <div style='text-align: center;'>
    <table align="center" style="margin: 0px auto;">
    <tr>
        <th><a href="#" onclick="history.go(-1)">Go Back</a></th>
        <th></th>
        <th><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></th> 
        <th></th>
        <th><a href="#" onclick="history.go(-3)">Go Back 3 pages</a></th>
        <th></th>
        <th><a href="#" onclick="history.go(-4)">Go Back 4 pages</a></th>
        <th></th>
        <th><a href="/stats" >Stats</a></th>
        <th></th>
        <th><a href="/dashboard" >Dashboard</a></th>
        <th></th>
        <th><a href="/user" >User</a></th>
    </tr>
    </table>
    </div>
</body>
</html>
